/**
* Template Style


/*
 * Bootstrap Framework
 */

@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS

@import "bootstrap/grid";

// Components


// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

/*
 * Bootstrap Toolkit
 */


// Additional Style Reset
@import "custom/reset";



// Toolkit Components
@import "custom/type-custom.scss";

@import "custom/icons";

@import "custom/scaffolding-custom";
@import "custom/offsets";
@import "custom/header";

