//
// Icons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.icon {
  &:before {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}



// Alternate icons
// --------------------------------------------------

.icon-default {

}

.icon-primary {

}


// Button Sizes
// --------------------------------------------------

.icon-xs {

}

.icon-sm {

}

.icon-lg {

}